.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__omDf0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h1__ewa57 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  margin-top: 16px;
  min-width: 0;
  padding: 8px;
}
.h3__szbSj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__ks8Fi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h1___0MdmI {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.h2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__fos6J {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3__ilTho {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-bottom: 0px;
  min-width: 0;
}
.h4__qo1GU {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.h4__vv1Sa {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__x2S9C {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
  border-width: 2px;
  border-style: solid;
}
.freeBox__udHqG {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.h5__xF8A {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-top: 0px;
}
.h5__zZFmZ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox__mQOt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.h5__fi0Vr {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-top: 0px;
}
.h5__wHnYv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox___5W2Oa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.h5__zvSyo {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-right: 0px;
}
.h5___2ViVb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  align-self: center;
}
.text__uAipa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__fcsDy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__mwMiz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
  border-width: 1px;
  border-style: solid;
}
.h6__nOcMu {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.h6___0CAi8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.h6__nWdoq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.h6___26Atj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox__z47Ln {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
  border-width: 1px;
  border-style: solid;
}
.h6__r0T0U {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.h6___2Cu5D {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.h6__d8T2T {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.h6__eGmKk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox___6YBOg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
  border-width: 1px;
  border-style: solid;
}
.h6__lZb9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.h6__kFUcQ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.h6__onWse {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.h6__jzykJ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.checkbox2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  align-self: center;
}
.text__ks4CN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.collapse:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.h1__ecrpf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.collapse2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.h1__t17QI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__f6JgR {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 8px;
  border-width: 1px;
  border-style: solid;
}
.freeBox__nbXe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.h3__oD4BV {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.h4__raP38 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox___3OFEw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.h3__oVzzc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.h4__lUNxi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__asJob {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.h3__tk084 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.h4__e8It {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__guqdu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.h3__kXq7F {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.h4__ldyi2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__pwThj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.h3__k8Rn5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.h4___1Li7B {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__wqKcv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
}
.h5__eh4M6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
}
.h5__n02Zx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___57ICm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 8px;
  border-width: 2px;
  border-style: solid;
}
.h5__wzYpa {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.h5__lotl {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.h5__qrVcU {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.h5__fdrA {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
}
.text__cLSuN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
