.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox__iPjPk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.section__kGb5P {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 16px;
  margin-bottom: 4px;
  margin-top: 4px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 5px;
  padding: 8px 0;
  border-width: 3px;
  border-style: solid;
}
.section__kGb5P > * {
  grid-column: 4;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.freeBox__f4Cbi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.h3__wtm19 {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  text-align: center;
  min-width: 0;
}
.h3__hthYl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.h3__g2CsG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.h4__cyfMw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.freeBox__mZaap {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 0;
  padding: 8px;
}
.freeBox__o94IU {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__tp1H3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 2px;
  border-width: 2px;
  border-style: solid;
}
.text___6IOna {
  height: auto;
  max-width: 10%;
  width: 100%;
  border-top-width: 2px;
  border-top-style: solid;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 2px;
}
.text__cAtgg {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 2px;
  border-width: 2px;
  border-style: solid;
}
.freeBox___44Uzk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__k1TGf {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-left-width: 1px;
  border-left-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  min-width: 0;
  padding: 2px;
}
.text__dJlNw {
  height: auto;
  max-width: 10%;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 2px;
}
.text__ePRq8 {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-left-width: 1px;
  border-left-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  min-width: 0;
  padding: 2px;
}
.freeBox__kQhHq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-DbGdjBpQ6R_X);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 40px;
  margin: 0px;
}
.card:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 183px;
  margin-right: 0px;
  margin-left: 0px;
  flex-shrink: 0;
}
.text__edupn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__lOyEf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section__cNx99 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__cNx99 > * {
  grid-column: 4;
}
.freeBox__fk4Pr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ecr7A {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__whLj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 229px;
  flex-shrink: 0;
}
.freeBox__mlf76 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__eRkTs {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.select4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 221px;
  flex-shrink: 0;
}
