.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.formField__mGz8B:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input22:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__ddcnQ:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__reWDt:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__m4Zw7 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.h1__ewa57 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
  padding: 8px;
}
.formField__om4C:global(.__wab_instance) {
  width: 33%;
  margin-bottom: 0px;
  display: none;
}
.formFieldedit__om4CjZQz:global(.__wab_instance) {
  display: flex;
}
.input17:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h3__szbSj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
  padding: 8px;
}
.formField__hOqo:global(.__wab_instance) {
  width: 66%;
  margin-bottom: 0px;
  display: none;
}
.formFieldedit__hOqOjZQz:global(.__wab_instance) {
  display: flex;
}
.input16:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__ks8Fi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h1___0MdmI {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__vPUsQ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__fos6J {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3__ilTho {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-bottom: 0px;
  min-width: 0;
}
.h4__qo1GU {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.h4__vv1Sa {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__x2S9C {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
  border-width: 2px;
  border-style: solid;
}
.freeBox__udHqG {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.h5__xF8A {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-top: 0px;
}
.formField__jgvHu:global(.__wab_instance) {
  width: auto;
  margin-bottom: 0px;
  display: none;
}
.formFieldedit__jgvHUjZQz:global(.__wab_instance) {
  display: flex;
}
.input4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h5__zZFmZ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox__mQOt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.h5__fi0Vr {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-top: 0px;
}
.formField__l9D1M:global(.__wab_instance) {
  width: auto;
  margin-bottom: 0px;
  display: none;
}
.formFieldedit__l9D1MjZQz:global(.__wab_instance) {
  display: flex;
}
.input14:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h5__wHnYv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox___5W2Oa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.h5__zvSyo {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-right: 0px;
}
.formField__uxUt4:global(.__wab_instance) {
  width: auto;
  margin-bottom: 0px;
  display: none;
}
.formFieldedit__uxUt4JZQz:global(.__wab_instance) {
  display: flex;
}
.input15:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h5___2ViVb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox__mtZva {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  padding: 8px;
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__uAipa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.formField__gb8Xj:global(.__wab_instance) {
  width: auto;
  margin-bottom: 0px;
  display: none;
}
.formFieldedit__gb8XjjZQz:global(.__wab_instance) {
  display: flex;
}
.checkbox3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__z9IHg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.formField__kfxxG:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;
  min-width: 0;
}
.textarea {
  width: 100%;
  height: 109px;
  max-width: 100%;
  min-width: 0;
}
.freeBox__fcsDy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__mwMiz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
  border-width: 1px;
  border-style: solid;
}
.h6__nOcMu {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.formField__tWfBs:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  display: none;
}
.formFieldedit__tWfBsjZQz:global(.__wab_instance) {
  display: flex;
}
.input6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h6___0CAi8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.h6__nWdoq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.formField___6Qh3F:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  display: none;
}
.formFieldedit___6Qh3FjZQz:global(.__wab_instance) {
  display: flex;
}
.input9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h6___26Atj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox__z47Ln {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
  border-width: 1px;
  border-style: solid;
}
.h6__r0T0U {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.formField__uuN41:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  display: none;
}
.formFieldedit__uuN41JZQz:global(.__wab_instance) {
  display: flex;
}
.input7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h6___2Cu5D {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.h6__d8T2T {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.formField__cFejj:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  display: none;
}
.formFieldedit__cFejjjZQz:global(.__wab_instance) {
  display: flex;
}
.input10:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h6__eGmKk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox___6YBOg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
  border-width: 1px;
  border-style: solid;
}
.h6__lZb9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.formField__ehSee:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  display: none;
}
.formFieldedit__ehSeejZQz:global(.__wab_instance) {
  display: flex;
}
.input8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h6__kFUcQ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.h6__onWse {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.formField__tV15A:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  display: none;
}
.formFieldedit__tV15AjZQz:global(.__wab_instance) {
  display: flex;
}
.input11:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h6__jzykJ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.freeBox__lmq4I {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  padding: 8px;
}
.formField__yvFz:global(.__wab_instance) {
  width: auto;
  display: none;
}
.formFieldedit__yvFzJZQz:global(.__wab_instance) {
  display: flex;
}
.checkbox4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__iUWiq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.checkbox2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  align-self: center;
}
.text__ks4CN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__bGsaE {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__dvlBr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h5__cLSuN {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.link__dmav5 {
  position: relative;
  width: 100%;
  min-width: 0;
}
.h5___8M4Hv {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.link__xQx0L {
  position: relative;
  width: 100%;
  min-width: 0;
}
.button__iIrBm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__hqlOh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.collapse:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.h1__ecrpf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.formField__qclv3:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  min-width: 0;
}
.input18:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.collapse2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.h1__t17QI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__peLbg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px;
}
.formField__uYs0W:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  min-width: 0;
}
.input19:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__rZsY4:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.numberInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__f6JgR {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 8px;
  border-width: 1px;
  border-style: solid;
}
.freeBox__nbXe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.h3__oD4BV {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.formField__s6T3O:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  display: none;
}
.formFieldedit__s6T3OjZQz:global(.__wab_instance) {
  display: flex;
}
.select4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.h4__raP38 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox___3OFEw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.h3__oVzzc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.select3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: none;
}
.select3edit:global(.__wab_instance) {
  display: flex;
}
.h4__lUNxi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__asJob {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.h3__tk084 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.formField__a6PBr:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  display: none;
}
.formFieldedit__a6PBrjZQz:global(.__wab_instance) {
  display: flex;
}
.select2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.h4__e8It {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__guqdu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.h3__kXq7F {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.formField__fwT8M:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  display: none;
}
.formFieldedit__fwT8MjZQz:global(.__wab_instance) {
  display: flex;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.h4__ldyi2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__pwThj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.h3__k8Rn5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.formField__r4SUj:global(.__wab_instance) {
  width: 55px;
  margin-bottom: 0px;
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.formFieldedit__r4SUjjZQz:global(.__wab_instance) {
  display: flex;
}
.text__mQvEs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h4___1Li7B {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__wqKcv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
}
.h5__eh4M6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
}
.formField__j1KFb:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  display: none;
}
.formFieldedit__j1KFbjZQz:global(.__wab_instance) {
  display: flex;
}
.input24:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h5__n02Zx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___57ICm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 8px;
  border-width: 2px;
  border-style: solid;
}
.h5__lotl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 20%;
  min-width: 0;
}
.formField__fiJV:global(.__wab_instance) {
  width: auto;
  margin-bottom: 0px;
  margin-right: 8px;
  margin-left: 8px;
  display: none;
}
.formFieldedit__fiJVjZQz:global(.__wab_instance) {
  display: flex;
}
.numberInput2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.h5__fdrA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 40%;
  margin-left: 0px;
  min-width: 0;
}
.formField__mg55S:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  display: none;
}
.formFieldedit__mg55SjZQz:global(.__wab_instance) {
  display: flex;
}
.input26:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__vaJm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__wsj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-right: 8px;
}
.text__zo8Qc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
}
.button___0XAyn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.buttonedit___0XAyNjZQz:global(.__wab_instance) {
  display: flex;
}
.text__zyKi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.formField__ynnMk:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input13:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___8OqB5:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input12:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
