.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  overflow: visible;
  padding-bottom: 0px;
  min-width: 0;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
.sectionupdateLayout > * {
  grid-column: 4;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__gkAup {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h4__cW94 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  min-width: 0;
}
.h3__v7T3T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  min-width: 0;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: none;
}
.inputupdateLayout:global(.__wab_instance) {
  display: flex;
}
.h3__bfxEj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  min-width: 0;
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: none;
}
.input2updateLayout:global(.__wab_instance) {
  display: flex;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  justify-self: flex-end;
  color: #535353;
  background: var(--token-CtWQF2P39aLo);
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
}
.dataList:global(.__wab_instance) {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  padding: 16px;
}
.inventoryModal:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
