.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  overflow: visible;
  padding-bottom: 0px;
  min-width: 0;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
.sectionupdateLayout > * {
  grid-column: 4;
}
.freeBox__cu8Ky {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox__zePd2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.freeBoxupdateLayout__zePd2Eo86C {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.h4__cW94 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.h4updateLayout__cW94Eo86C {
  width: auto;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 178px;
  flex-shrink: 0;
  display: none;
}
.selectupdateLayout:global(.__wab_instance) {
  display: flex;
}
.freeBox__r4Eo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxupdateLayout__r4EoEo86C {
  justify-content: flex-end;
  align-items: center;
}
.h4__gkAup {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.h4updateLayout__gkAupEo86C {
  width: auto;
}
._switch:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  width: auto;
  display: none;
}
._switchupdateLayout:global(.__wab_instance) {
  display: flex;
}
.freeBox__iETqq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 0;
  padding: 8px;
}
.freeBoxupdateLayout__iETqqEo86C {
  justify-content: center;
  align-items: center;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.h1updateLayout {
  width: auto;
}
.input3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 404px;
  flex-shrink: 0;
  display: none;
}
.input3updateLayout:global(.__wab_instance) {
  display: flex;
}
.freeBox___8Am7K {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 0;
  padding: 8px;
}
.h3__v7T3T {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h3updateLayout__v7T3TEo86C {
  width: auto;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 653px;
  flex-shrink: 0;
  display: none;
  margin: 0px;
}
.inputupdateLayout:global(.__wab_instance) {
  display: flex;
}
.freeBox___6OukW {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 0;
  padding: 8px;
}
.h3__bfxEj {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h3updateLayout__bfxEjEo86C {
  width: auto;
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 563px;
  margin-right: 0px;
  flex-shrink: 0;
  display: none;
}
.input2updateLayout:global(.__wab_instance) {
  display: flex;
}
.freeBox___5RVyk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  border-radius: 5px;
  padding: 0px 8px 8px;
  border-width: 2px;
  border-style: solid;
}
.freeBoxupdateLayout___5RVykEo86C {
  margin-top: 8px;
  margin-bottom: 8px;
}
.h5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  min-width: 0;
}
.freeBox__pOadb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__esNu7 {
  position: relative;
  height: auto;
  max-width: 25%;
  width: 100%;
  min-width: 0;
}
.text___1Ln7 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 8px;
  margin-left: 8px;
}
.text__lfwvn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__p7HHd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxupdateLayout__p7HHdEo86C {
  justify-content: flex-end;
  align-items: center;
}
.button__kzgrP:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  margin-right: 8px;
  margin-left: 8px;
  display: none;
}
.buttonupdateLayout__kzgrPeo86C:global(.__wab_instance) {
  display: flex;
}
.text__xk3S8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.button___93Lw5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #535353;
  background: var(--token-CtWQF2P39aLo);
}
.text__eNtnG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
}
