.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.card:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.text__hNi8I {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}
.text__dk9Jw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.checkbox2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text___3JwQg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.checkbox3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__tcIPv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.checkbox4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__uYqRo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__wbgy3 {
  position: relative;
  width: 336px;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-style: italic;
  text-align: right;
  align-self: flex-end;
}
