.accordion:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.accordionItem___8Jef3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__eq1KA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.freeBox__pKs3E {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px;
}
.formField__seBzy:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  min-width: 0;
}
.input4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___8Ef7E:global(.__wab_instance) {
  width: auto;
  text-align: center;
  align-self: center;
}
.isOrg:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text___7NxR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__eWiOs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 9px;
  margin-right: 9px;
  min-width: 0;
  padding: 8px;
}
.formField__umd6:global(.__wab_instance) {
  width: 100%;
  max-width: 502px;
  min-width: 0;
}
.input8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__b5Xtr:global(.__wab_instance) {
  width: auto;
  margin-bottom: 0px;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 180px;
}
.freeBox__iDv0Y {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px;
}
.formField__rJiQn:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  margin-right: 4px;
  margin-left: 4px;
  min-width: 0;
}
.input5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___9Sgj1:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  margin-left: 4px;
  margin-right: 4px;
  min-width: 0;
}
.input6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__s4DZd:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 9px;
  margin-top: 9px;
  min-width: 0;
}
.textarea {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__ue8Gs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__d3Qub {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.accordionItem__pomUw:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ysdNr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.form2:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.freeBox__v0GGu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.formField__a6Ib0:global(.__wab_instance) {
  width: 100%;
  margin-right: 4px;
  margin-left: 4px;
  min-width: 0;
}
.input3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__q2D1K:global(.__wab_instance) {
  width: auto;
  margin-bottom: 24px;
  margin-right: 4px;
  margin-left: 4px;
}
.numberInput2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__y5IxW:global(.__wab_instance) {
  width: auto;
  margin-bottom: 24px;
  margin-right: 4px;
  margin-left: 4px;
  align-self: center;
}
.switch2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__hwVdS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__f6HtA {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.formField__eh8D4:global(.__wab_instance) {
  width: 100%;
  margin-right: 4px;
  margin-left: 4px;
  min-width: 0;
}
.select2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.formField___9BtF:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 0;
}
.select3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.formField__fx1Kq:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__kjzhk {
  padding-right: 0px;
}
.textarea2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__uMh4J:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__nelx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
